.button-area{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 70%;
    font-size: 30px;
    text-align: center;
    position: relative;
}
.swiper{
    width: 100%;
    height: 350px;
    position: relative;
    .swiper-slide,.slide{
      display: flex;
      flex-direction: column;
      width: 60%;
      max-width: 600px;
      height: 95%;
      position: relative;
      border: 1px solid;
      border-radius: 10px;
      filter: grayscale(70%);
      transition: all 0.3s 0s linear;
      overflow: hidden;
      &.swiper-slide-active{
        filter: none;
      }
      .slide-content{
        width: 100%;
        height: 320px;
        overflow: hidden;
      }
      .slide-title{
        padding-top: 5px;
        font-size: 20px;
      }
    }
    .swiper-slide-prev,
    .swiper-slide-next {
      width: 50%;      // 양 옆 작은 슬라이드
    }
      
    .swiper-inner{
        width: 100%;
        height: 100%;
    }
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute !important;
  z-index: 10 !important;
  background: url(../../imgs/SwiperArrow.png) no-repeat center center;
  background-size: 47px 47px;
  transform: rotate(90deg);
  transition: all 0.3s 0s linear;
  opacity: 0.6;
  &:hover{
    opacity: 0.9;
  }
  .swiper-navigation-icon{
    display: none !important;
  }
}
.swiper-button-prev {
  transform: rotate(270deg) !important;
}
.swiper-pagination{
  top:unset !important;
  bottom: 0 !important;
}
.swiper-pagination-bullet-active{
  background-color: var(--sub) !important;
}