.button-area{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 70%;
    font-size: 30px;
    text-align: center;
}
.swiper{width: 70%;height: 100%;border: 1px solid;}