.button-area{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 70%;
    font-size: 30px;
    text-align: center;
    position: relative;
    .floatBox{
        display: flex;
        flex-direction: column;
        width: 100px;
        font-size: 25px;
        border: 1px solid #333;
        border-radius: 15px;
        background-color: white;
        color: black;
        position: absolute;
        top:-30px;right:25%;
        &::after{
            content: "";
            display: block;
            width: 30px;
            height: 20px;
            clip-path: polygon(0% 50%, 70% 0%, 100% 100%);
            transform: rotate(135deg);
            background-color: white;
            position: absolute;
            bottom: 18%;left: -17px;
        }
    }
}
.swiper{
    width: 70%;
    height: 80%;
    border: 1px solid;
    position: relative;
    .swiper-slide{
      position: relative;
      cursor: pointer;
      .slide-bubble {
        position: absolute;
        min-width: 100px;
        height: 100px;
        padding: 0 12px;
        border-radius: 50%;
        background-color: white;
        color: black;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
        animation: bubblePop 0.2s ease-out forwards;
        pointer-events: none;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
      }
    }
    
      
    @keyframes bubblePop {
      to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
      }
    }
      
    .swiper-inner{
        width: 100%;
        height: 100%;
    }
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute !important;
  z-index: 10 !important;
}