.button-area{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 70%;
    font-size: 30px;
    text-align: center;
    position: relative;
    .floatBox{
        display: flex;
        flex-direction: column;
        width: 100px;
        font-size: 25px;
        border: 1px solid #333;
        border-radius: 15px;
        background-color: white;
        color: black;
        position: absolute;
        top:-30px;right:25%;
        &::after{
            content: "";
            display: block;
            width: 30px;
            height: 20px;
            clip-path: polygon(0% 50%, 70% 0%, 100% 100%);
            transform: rotate(135deg);
            background-color: white;
            position: absolute;
            bottom: 18%;left: -17px;
        }
    }
}
.swiper{
    width: 100%;
    height: 80%;
    border: 1px solid;
    position: relative;
    .swiper-slide{
      width: 60%;
      max-width: 600px;
      position: relative;
      filter: grayscale(70%);
      transition: all 0.3s 0s linear;
      &.swiper-slide-active{
        filter: none;
      }
    }
    .swiper-slide-prev,
    .swiper-slide-next {
      width: 50%;      // 양 옆 작은 슬라이드
    }
      
    .swiper-inner{
        width: 100%;
        height: 100%;
    }
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute !important;
  z-index: 10 !important;
}