// comment페이지 스타일
.left-section,.right-section{
    width: calc(50%);
    height: 100%;
    float: left;
    background-color: white;
}
.right-section{
    display: flex;
    flex-direction: column;
    float: right;
    background-color: unset;
}

.comment-wrapper{
    width: 100%;
    height: 60vh;
    overflow-y: auto;
    @keyframes on {
      from{
        transform: scaleX(0);
      }to{
        transform: scaleX(100%);
      }
    }
    .comment-content{
      width: 100%;
      padding: 15px 15px;
      border: 1px solid;
      
      .comment{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        span{
          overflow-x: hidden;
          text-overflow: ellipsis;
        }
        span:first-child{ 
          width: 110px;
          padding: 8px 15px;
          border: 1px solid darkgray;
        }
        span:nth-child(2){
          width:350px
        }
      }
    }
  }
  .pagenation{
    width: 100%;
    height: 60px;
  }
  .comment-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    label{
      display: block;
      width: 300px;
      input,textarea{
        width: 100%;
        font-size: 20px;
      }
    }
  }