


.fixed-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    min-width: 50px;
    position: fixed;
    bottom: 3%;
    right: 1%;
    font-family: var(--TypefaceFont);
    font-size: 2rem;
}
button.siteBtn{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    line-height: 1.36rem;
    
    font-weight: bold;
    text-align-last: left;
    background-color: var(--back);
    border: 1px solid gray;
}

button.downBtn{
    display: block;
    width: 50px;
    height: 50px;
    background: url(../imgs//arrow-up-7337013.png) no-repeat center center;
    background-size: cover;
    transform: rotate(180deg);
}