





button.downBtn{
    display: block;
    width: 50px;
    height: 50px;
    background: url(../imgs//arrow-up-7337013.png) no-repeat center center;
    background-size: cover;
    position: fixed;
    bottom: 3%;
    right: 1%;
    transform: rotate(180deg);
}