*{
  margin: 0;padding: 0;
}
li{list-style: none;}
a{text-decoration: none;color: inherit;}
a:hover{text-decoration: none;}

body{overflow-x: hidden;}
.main-content{
  width: 100%;
  height: 100vh;
  &.page{
    box-sizing: border-box;
    height: 80vh;
    .comment-wrapper{
      width: 60%;
      max-height: 400px;
      margin: 0 auto;
      overflow-y: auto;
      @keyframes on {
        from{
          transform: scaleX(0);
        }to{
          transform: scaleX(100%);
        }
      }
      .comment-content{
        width: 50%;
        margin: 0 auto;
        padding: 5px 15px;
        border: 1px solid;
        
        .comment{
          display: flex;
          justify-content: space-between;
          gap: 10px;
          span{
            overflow-x: hidden;
            text-overflow: ellipsis;
          }
          span:first-child{ 
            width: 110px;
            padding: 8px 15px;
            border: 1px solid darkgray;
          }
          span:nth-child(2){
            width:350px
          }
        }
      }
    }
    .comment-input{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      height: 100px;
      margin: 0 auto;
      label{
        display: block;
        width: 300px;
        input,textarea{
          width: 100%;
          font-size: 20px;
        }
      }
    }
  }
}
.site-wrapper{
  width: 100vw;
  height: 100vh;
  header{
    position: fixed;
    top:0;left:0;
    z-index: 99;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 6%;
    width: 100%;
    height: 20vh;
    &.rel{
      position: relative;
    }
  }
  .sticky-zone{
    width: 100%;
    position: relative;
  }
  .main-aside{
    position: sticky;
    top:0;
    float: right;
    width: 50%;
    height: 100vh;
  }
  section{
    width: 100%;
    height: 100vh;
  }
  footer{
    width: 100%;
    height: 20vh;
  }
}
