*{
  margin: 0;padding: 0;
  outline: 1px solid;
}
li{list-style: none;}
a{text-decoration: none;color: inherit;}
a:hover{text-decoration: none;}

body{overflow-x: hidden;}
.main-content{
  width: 100%;
  height: 100vh;
  &.page{
    box-sizing: border-box;
    height: 80vh;
  }
}
.site-wrapper{
  width: 100vw;
  height: 100vh;
  header{
    position: fixed;
    top:0;left:0;
    z-index: 99;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 6%;
    width: 100%;
    height: 20vh;
    &.rel{
      position: relative;
    }
  }
  .sticky-zone{
    width: 100%;
    position: relative;
  }
  .main-aside{
    position: sticky;
    top:0;
    float: right;
    width: 50%;
    height: 100vh;
  }
  section{
    width: 100%;
    height: 100vh;
  }
  footer{
    width: 100%;
    height: 20vh;
  }
}
