
.page-inner > h2{
  font-size: 40px;
}
.site-wrapper{
  width: 100vw;
  height: 100vh;
  header{
    top:0;left:0;
    z-index: 99;
    box-sizing: border-box;
    width: 100%;
    height: 15vh;
    backdrop-filter: blur(3px);
    background-color: rgba(255,255,255,0.05);
    position: fixed;
    border-bottom: 1px solid var(--sub);
    .header-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        height: 100%;
        margin: 0 auto; 
        font-family: var(--MainFont);
        h1{
          font-size: 2.6rem;
          font-weight: 900;
        }
        nav{
            margin-right: 16%;
            ul{
            display: flex;
            gap: 30px;
            font-size: 30px;
            .nav-item{
              font-weight: bold;
              color: var(--sub2);
            }
            }
        }
    }
  }
  .sticky-zone{
    width: 100%;
    position: relative;
  }
  
  section{
    width: 100%;
    height: 100vh;
    background-color: var(--back);
    font-family: var(--MainFont);
    
    &.pages{
      height: 85vh;
      padding-top: 0px;
    }
    &.work-block{
      height: auto;
      .work-list{
        width: 100%;
        .work-list-items{
          display: flex;
          width: inherit;
          border: 2px solid black;
          .text-inner{
            width: 50%;
          }
        }
      }
      .work-images-wrapper{
        flex: 1;
        background-color: #1e1e1f;
      }
    }
    // About페이지
    .centered-box{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 3%;
      width: 50%;
      height: 50%;
      position: absolute;
      top:50%;left:50%;
      transform: translate(-50%,-50%);
      .site-box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      height: 40%;
      background-color: white;
      border: 1px solid var(--sub);
      box-shadow: 2px 2px 15px rgb(0,0,0,0.5);
    }
    }
    
    // 일반 페이지
    .page-inner{
        box-sizing: border-box;
        width: 85%;
        height: 100%;
        text-align: center;
        padding: 15vh 0 0;
        margin: 0 auto;
        &.work{
          padding-top: 5vh;
        }
        .work-project-title{font-size: 30px;}
        .work-list{
          font-size: 40px;
          font-family: var(--TypefaceFont);
          p{
            color: var(--sub);
          }
        }
        .text-wrapper{
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding-top: 5%;
          box-sizing: border-box;
          height: 100%;
          .font{
            font-size: 32px;
            color: var(--sub);
          }
          .main-title{
            font-size: 22px;
          }
          @keyframes fadeCycle {
          0% { opacity: 0; transform: translateY(10px); }
          10%, 40% { opacity: 1; transform: translateY(0); }
          60%, 100% { opacity: 0; transform: translateY(-10px); }
        }
        .fade-text{
          font-size: 8rem;
          font-weight: bold;
          letter-spacing: -0.2rem;
          .fade{
             animation: fadeCycle 9s ease-in-out forwards;
          }
        }
        .title{
          margin-top: 0.5rem;
          font-size: 1.5rem;
          color: var(--sub);
        }
        }
        .skill-wrapper{
          float: left;
          width: 50%;
          .skill-title{
            font-size: 20px;
            font-weight: bold;
            color: var(--sub);
          }
        }
        .skill-content{
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          
          // 스킬을 감싸는 div
          div{
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            width: calc((50% / 3));
            padding: 12px 0;
            border: 1px solid;
            border-radius: 12px;
            background-color: white;
            color: black;
            font-weight: bold;
            .skills{
            user-select: none;
            display: flex;
            align-items: center;
            justify-content: center;
            object-fit: contain;
            object-position: center;
            width: 100%;
            height: 85px;
          }
          }
          
        }
        .cando{
          float: right;
          width: 50%;
          .typing-text {
            white-space: pre-wrap;
            font-size: 22px;
            line-height: 1.6;
          }

          .cursor {
            display: inline-block;
            width: 2px;
            height: 1.2em;
            background-color: black;
            margin-left: 2px;
            animation: blink 0.6s infinite;
          }

          @keyframes blink {
            0% { opacity: 1; }
            50% { opacity: 0; }
            100% { opacity: 1; }
          }

        }
    }
  }
  footer{
    width: 100%;
    height: 20vh;
    background-color: var(--back);
  }
}


.bold{color: var(--black) !important;}
.rel{
    position: relative !important;
}

.abs {
  position: absolute;
  top: 100%;
  left: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0.8rem 1rem;
  border-radius: 12px;
  background-color: var(--back);
  color: var(--black);
  border: 1px solid;
  font-size: 1rem;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;

  &.down {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }
}
