:root{
  --MainFont : 'AppleSDGothicNeoR','sans-serif';
}

.site-wrapper{
  width: 100vw;
  height: 100vh;
  header{
    top:0;left:0;
    z-index: 99;
    box-sizing: border-box;
    width: 100%;
    height: 15vh;
    border-bottom: 1px solid white;
    position: fixed;
    &.rel{
      position: relative;
    }
    .header-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        height: 100%;
        margin: 0 auto; 
        font-family: var(--MainFont);
        h1{
          font-size: 2.6rem;
          font-weight: bold;
        }
        nav{
            margin-right: 16%;
            ul{
            display: flex;
            gap: 30px;
            font-size: 30px;
            }
        }
    }
  }
  .sticky-zone{
    width: 100%;
    position: relative;
  }
  .main-aside{
    box-sizing: border-box;
    padding: 15vh 0 0;
    position: sticky;
    top:0;
    float: right;
    width: 50%;
    height: 100vh;
    background-color: gray;
    &::after{
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background-color: white;
        position: absolute;
        top:0;left: 0;
    }
  }
  section{
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid white;
    font-family: var(--MainFont);
    .page-inner{
        box-sizing: border-box;
        height: 100%;
        padding: 15vh 0;
        .text-wrapper{
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding-top: 5%;
          box-sizing: border-box;
          height: 100%;
          .font{
            font-size: 32px;
          }
          .main-title{
            font-size: 22px;
          }
          @keyframes fadeCycle {
          0% { opacity: 0; transform: translateY(10px); }
          10%, 40% { opacity: 1; transform: translateY(0); }
          60%, 100% { opacity: 0; transform: translateY(-10px); }
        }
        .fade-text{
          font-size: 5rem;
          font-weight: bold;
          letter-spacing: -0.2rem;
          .fade{
             animation: fadeCycle 4s ease-in-out forwards;
          }
        }
        .title{
          margin-top: 0.5rem;
          font-size: 1.5rem;
        }
        }
        
    }
  }
  footer{
    width: 100%;
    height: 20vh;
  }
}
